
services:

  backend:
    build: 
      context: ./backend 
      dockerfile: Dockerfile
    container_name: football-analysis-backend
    command: python3 manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/usr/src/app 
      - media_data:/usr/src/app/media
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
    env_file:
      - .env
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  db:
    image: postgres:15-alpine 
    volumes:
      - postgres_data:/var/lib/postgresql/data 
    environment:
      POSTGRES_DB: app_database_name
      POSTGRES_USER: django_user
      POSTGRES_PASSWORD: a_secure_password_123
    restart: always
    
  redis:
    image: redis:7-alpine
    container_name: football-analysis-redis
    ports:
      - "6379:6379"

  celery_worker:
    build: 
      context: ./backend             
      dockerfile: Dockerfile         
    command: celery -A config.celery_app worker --loglevel=INFO --pool=solo
    volumes:
      - ./backend:/usr/src/app 
      - media_data:/usr/src/app/media 
    depends_on:
      - db                    
      - redis
    environment:
      CELERY_BROKER_URL: redis://redis:6379/0
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  frontend:
    build: 
      context: ./frontend           
      dockerfile: Dockerfile       
    container_name: football-analysis-frontend
  
    command: npm run dev 
    volumes:
      - ./frontend:/usr/src/app 
      - /usr/src/app/node_modules 
    ports:
      - "3000:5173" 
    depends_on:
      - backend 
    environment:
      VITE_BACKEND_URL: http://backend:8000 

volumes:
  media_data:
  postgres_data: